<h3 style="text-align: center;">student List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th> Image</th>
            <th> Id </th>
            <th> Name</th>
            <th> Email Id </th>
            <th> Contact No.</th>
            <th> Action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let student of students | paginate: { itemsPerPage: 5, currentPage: page, totalItems: totalLength }" (dblclick)="studentDetails(student.id)">
            <td><img  src="assets/pic.png" alt="image" style="height: 40px; width: 40px;"/></td>
            <td> {{student.studentId}} </td>
            <td> {{student.firstName + " " + student.lastName}}</td>
            <td> {{student.emailId}} </td>
            <td> {{student.contactNo}} </td>
            <td>
                <button mat-button color="accent" (click) = "updateStudent(student.id)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="warn" (click) = "deleteStudent(student.id, student.firstName+' '+ student.lastName + ' ?')">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="page= $event"></pagination-controls>
</table>
