<div class="card col-md-6 offset-md-3">
    <div class="card-header">
        <h3>{{student.firstName}}'s details</h3>
    </div>
    <div class="card-body">

        <div class="container col-lg-3" style="align-items: center; align-content: center; align-self: center;">
            <img src="assets/new2.png" alt="image" style="height: 100px; width: 100px;" />
        </div>

        <table style="margin-top: 10pt;">
            <tr>
                <th>Registration No.:</th>
                <td class="right">
                    {{student.regId}}
                </td>
            </tr>
            <tr>
                <th>Student Id:</th>
                <td class="right">
                    {{student.studentId}}
                </td>
            </tr>
            <tr>
                <th>First Name:</th>
                <td class="right">
                    {{student.firstName}}
                </td>
            </tr>
            <tr>
                <th>Last Name:</th>
                <td class="right">
                    {{student.lastName}}
                </td>
            </tr>
            <tr>
                <th>Registration Date:</th>
                <td class="right">
                    {{student.regDate}}
                </td>
            </tr>
            <tr>
                <th>Age:</th>
                <td class="right">
                    {{student.age}}
                </td>
            </tr>
            <tr>
                <th>Gender:</th>
                <td class="right">
                    {{student.gender}}
                </td>
            </tr>
            <tr>
                <th>NID:</th>
                <td class="right">
                    {{student.nid}}
                </td>
            </tr>
            <tr>
                <th>Occupation:</th>
                <td class="right">
                    {{student.occupation}}
                </td>
            </tr>
            <tr>
                <th>Address:</th>
                <td class="right">
                    {{student.address}}
                </td>
            </tr>
            <tr>
                <th>Contact NO.:</th>
                <td class="right">
                    {{student.contactNo}}
                </td>
            </tr>
            <tr>
                <th>Email:</th>
                <td class="right">
                    {{student.emailId}}
                </td>
            </tr>
            <tr>
                <th>Created On:</th>
                <td class="right">
                    {{student.createdOn}}
                </td>
            </tr>
            <tr>
                <th>Craeted by:</th>
                <td class="right">
                    {{student.createdBy}}
                </td>
            </tr>
            <tr>
                <th>Academic Qualification:</th>
                <td class="right">
                    {{student.academicQualifications}}
                </td>
            </tr>
        </table>

    </div>
</div>