<nav class="container navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="students" routerLinkActive="active" class="nav-link">Student List</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink="create-student" routerLinkActive="active" class="nav-link">Add Student</a>
        </li>
    </ul>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>